.seccion-cuentas,
.seccion-tarjetas {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
}

.cards-cuentas{
  display: flex;
}
  
 .--cardCuentas{
  display: flex;
  flex-direction: column;
  margin: 20px 20px 20px 0px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
 }

 .crearCuentas{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 .add-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  height: auto;
  cursor: pointer;
 }

 .add-container:hover{
  opacity: 0.5;
 }

 .add-icon{
  width: 40px;
  height: 40px;
  margin-bottom: -20px;
 }

 .crearCuentas p{
  font-size: 16px;
  text-align: center;
  margin: 0;
 }

.cuentasCreadas{
  display: flex;
  flex-direction: column;
  margin: 20px 20px 20px 0px;
  justify-content: center;
}

.cuentasCreadas h4{
  font-size: 20px;
  
}

.cuentasCreadas p{
  font-size: 18px;
}

.cuentasCreadas p span{
  font-weight: bold;
  color: rgb(1, 182, 1);
}

 /* Tarjetas */

.cards-tarjetas{
  display: flex;
}

.--cardTarjetas{
  display: flex;
  flex-direction: column;
  margin: 20px 20px 20px 0px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.crearTarjetas{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.crearTarjetas p{
  font-size: 16px;
  text-align: center;
  margin: 0;
 }

 .tarjetasCreadas{
  display: flex;
  flex-direction: column;
  margin: 20px 20px 20px 0px;
  justify-content: center;
  color: white;
}

.tarjetasCreadas h4{
  font-size: 20px;
  color: black;
}

.tarjetasCreadas p{
  font-size: 18px;
  margin-bottom: -10px;
  margin-top: -10px;
}

.tarjetasCreadas p span{
  font-weight: bold;
  color: rgb(1, 182, 1);
}
