.contenedor-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.row-dashboard {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.card-dashboard {
    width: 25%;
    height: 150px; /* Para adaptarse al contenido dinámico */
    min-height: 150px; /* Establece una altura mínima */
    padding: 20px; /* Añade espacio interno */

    background-color: #ffffff; /* Fondo translúcido */
    border-radius: 12px; /* Bordes redondeados */
    box-shadow: 0 4px 8px #0000001a; /* Sombra para profundidad */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animaciones */
}

.card-dashboard p {
    padding: 45px 0px 0px 0px;
    font-size: 250%
}

.card-dashboard h3 {
    height: 20px;
    font-size: 20px;
}

.--gastoCategoria {
    width: 40%;
    min-width: fit-content;
    min-height: 300px;
}

.--balanceMensual{
    width: 100%;
    min-height: 400px;
}
/* Goals Cards */

.--goals-card-container{
    flex: 1;
    max-width: 60%;

    min-height: 300px;

    overflow: hidden;
    overflow-x: scroll;

    background: var(--verde);
}



.--goals-card-container div {
    display: flex;
    justify-content: space-evenly;
}

.--goals-card-container h2 {
    color: #fff;
}

.goal-card {
    width: 300px;
    padding: 20px;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.169);
    display: flex;
    flex-direction: column;
    background: #fff
  }
  
  .goal-card h3 {
    font-size: 12px;
    text-align: center;
  }
  
  .goal-progress {
    display: flex;
    justify-content: center;
  }
  
  .goal-details {
    font-size: 10px;
    text-align: center;
  }
  
  /* Fin Goalds Cards */
