.sidebar-container {
    width: 270px;
    height: 100vh;
    position: relative;
}
.sidebar-container {
    overflow-y: auto;
}


.sidebar-brand{
    width: 100%;
    height: 100px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.sidebar-img {
    width: 100%;
}

.sidebar-link-container {
    padding: 20px 0px;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sidebar-links-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

}

.sidebar-item {
    width: 90%;
    height: 40px;
    padding-left: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 6px;

    border-radius: 8px;

}

.sidebar-item:hover {
    background-color: #448e3650 ;
}

.sidebar-item-text {
    margin-top: 4px;
    color: #000000 ;
}
 .profile-item {
    width: 100%;
    border-radius: 0;
    border-top-left-radius: 25px; 
    border-top-right-radius: 25px;
    padding: 10px;
    height: fit-content;
 }

 .profile-item p {
    margin-left: 10px;
 }

 .logout-item{
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    border-radius: 0;
    border-bottom-left-radius: 25px; 
    border-bottom-right-radius: 25px;
 }

 .profile-item img {
    border-radius: 50%;
 }

 .login-menu {
    width: 90%;
    gap: 0;
    border: grey solid 1px;
    border-radius: 25px;
 }